name: Run all the tests

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check formatting and other validation
        run: sudo make validate

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run the test suite
        run: sudo make test
